doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    
    title Patrick McLennan | Software Developer
    meta(name="description" content="Full stack software developer with a passion for creating efficient, scalable, and user-friendly web applications.")
    meta(name="keywords" content="software developer, web development, rust, typescript, ruby on rails, react, Node.js, tailwind, docker, kubernetes, aws, azure, gcp")
    meta(name="author" content="Patrick McLennan")
    
    link(rel="icon" type="image/x-icon" href="/favicon.ico")
    link(rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png")
    
    meta(property="og:type" content="website")
    meta(property="og:url" content="https://www.patrickmclennan.com/")
    meta(property="og:title" content="Patrick McLennan | Software Developer")
    meta(property="og:description" content="Full stack software developer with a passion for creating efficient, scalable, and user-friendly web applications.")
    meta(property="og:image" content="https://yourdomain.com/og-image.jpg")
    
    meta(name="twitter:card" content="summary_large_image")
    meta(name="twitter:url" content="https://www.patrickmclennan.com/")
    meta(name="twitter:title" content="Patrick McLennan | Software Developer")
    meta(name="twitter:description" content="Full stack software developer with a passion for creating efficient, scalable, and user-friendly web applications.")
    meta(name="twitter:image" content="https://yourdomain.com/og-image.jpg")
    
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="theme-color" content="#ffffff")
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="dns-prefetch" href="https://fonts.googleapis.com")
    
    link(rel="stylesheet" href="styles.css")
    script(src="index.js" defer)
    
  body
    header.header
      include partials/logo.pug
    
    main
      section.hero
        h1 Hi I'm Patrick 
          i 👋
        .hero-text
          h2 I use things like 
            span.noun TypeScript
            |  to build 
            span.verb performant
            |  software.
        include partials/hero-card.pug
      //- include partials/about-me.pug
          